<!DOCTYPE html>
<html>
<head>
<title>ganesan</title>
<link rel="stylesheet" type="text/css" href="/../stylesheets/site.css">
</head>
<body>

<p id="a">
Enter Your Information:
</p>
<%= render  "form" -%>

</body>
</html>